<!-- footer -->
<footer class="text-muted">
    <div class="container" style="margin-top: 20px;">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>Je verrai plus tard pour mettre les <a href="#">mentions légales</a>.</p>
    </div>
</footer>